form {
    width: 300px;
    margin: auto;
    margin-top: 50px;
}
input[type=checkbox],input[type=radio]{
    width: 25px;
    height: 25px;
}

.checkBoxEmpty {
    background: url("../img/Checkbox-Empty-icon.png") no-repeat;
    background-size: cover;
    width: 32px;
    height: 32px;
    display: inline-block;
}

.checkBoxFull {
    background: url("../img/Checkbox-Full-icon.png") no-repeat;
    background-size: cover;
    width: 32px;
    height: 32px;
    display: inline-block;
    animation: loading 0.5s;
}


.radioEmpty {
    background: url("../img/radio-button-off-icon.png") no-repeat;
    background-size: cover;
    width: 32px;
    height: 32px;
    display: inline-block;
}

.radioFull {
    background: url("../img/radio-button-on-icon.png") no-repeat;
    background-size: cover;
    width: 32px;
    height: 32px;
    display: inline-block;
    animation: loading 0.5s;
}

@keyframes loading {
    0% {
        transform:scale(1.5);
    }

    100% {
        opacity: 1;
    }
}