    body{
    font-size: 35px;
    }
    .floatRight{
    float: right;
    margin-right: 15%;
    }
    #deerProgress{
    width: 100%;
    border: 1px solid black;
    margin-bottom: 5px;
    }
    #deerBarS {
    height: 20px;
    background-color: #33cc33;
    font-size: 15px;
    }
    #deerBarH {
    height: 20px;
    background-color: #4dc3ff;
    font-size: 15px;
    }
    #mouseBarS {
    height: 20px;
    background-color: #33cc33;
    font-size: 15px;
    }
    #mouseBarH {
    height: 20px;
    background-color: #4dc3ff;
    font-size: 15px;
    }
    .text{
      font-size: 20px;
    }
    .animal{
    background: url('Deer-icon.png') no-repeat;
    border: 1px solid black;
    background-position: center;
    background-size: 90% 90%;
    }
    .mouse{
    background: url('Mouse.png') no-repeat;
    border: 1px solid black;
    background-position: center;
    background-size: 90% 90%;
    }
    .tree{
    text-align: center;
    background: url('tree-icon.png') no-repeat;
    border: 1px solid black;
    background-position: center;
    background-size: 40% 40%;
    transition: background-size 0.2s;
    }
    .tree1{
    text-align: center;
    background: url('tree-icon1.png') no-repeat;
    border: 1px solid black;
    background-position: center;
    background-size: 80% 80%;
    }
    .tree2{
    text-align: center;
    background: url('tree-icon2.png') no-repeat;
    border: 1px solid black;
    background-position: center;
    background-size: 80% 80%;
    }
    .tree3{
    text-align: center;
    background: url('tree-icon3.png') no-repeat;
    border: 1px solid black;
    background-position: center;
    background-size: 80% 80%;
    }
    .fruit{
    text-align: center;
    background: url('fruit.png') no-repeat;
    border: 1px solid black;
    background-position: center;
    background-size: 80% 80%;
    }
    .fruit1{
    text-align: center;
    background: url('fruit1.png') no-repeat;
    border: 1px solid black;
    background-position: center;
    background-size: 80% 80%;
    }
    .fruit2{
    text-align: center;
    background: url('fruit2.png') no-repeat;
    border: 1px solid black;
    background-position: center;
    background-size: 80% 80%;
    }
    .fruit3{
    text-align: center;
    background: url('fruit3.png') no-repeat;
    border: 1px solid black;
    background-position: center;
    background-size: 80% 80%;
    }
    .fruit4{
    text-align: center;
    background: url('fruit4.png') no-repeat;
    border: 1px solid black;
    background-position: center;
    background-size: 80% 80%;
    }
    .fruit5{
    text-align: center;
    background: url('fruit5.png') no-repeat;
    border: 1px solid black;
    background-position: center;
    background-size: 80% 80%;
    }
    .berry{
    text-align: center;
    background: url('berry.png') no-repeat;
    border: 1px solid black;
    background-position: center;
    background-size: 80% 80%;
    }
    .berry1{
    text-align: center;
    background: url('berry1.png') no-repeat;
    border: 1px solid black;
    background-position: center;
    background-size: 80% 80%;
    }
    .berry2{
    text-align: center;
    background: url('berry2.png') no-repeat;
    border: 1px solid black;
    background-position: center;
    background-size: 80% 80%;
    }
    .berry3{
    text-align: center;
    background: url('berry3.png') no-repeat;
    border: 1px solid black;
    background-position: center;
    background-size: 80% 80%;
    }
    .bush{
    text-align: center;
    background: url('bush-icon.png') no-repeat;
    border: 1px solid black;
    background-position: center;
    background-size: 40% 40%;
    transition: background-size 0.2s;
    }
    .bushHalf{
    text-align: center;
    background: url('bush-icon1.png') no-repeat;
    border: 1px solid black;
    background-position: center;
    background-size: 90% 90%;
    }
    .empty{
    border: 1px solid black;
    }
    .color{
    background-color: pink;
    border: 1px solid black;
    animation-name: example;
    animation-duration: 3s;
    }
    .treeColor{
    background: url('tree-icon.png') no-repeat;
    border: 1px solid black;
    background-position: center;
    background-size: 80% 80%;
    background-color: red;
    animation-name: example;
    animation-duration: 10s;
    }
    @-webkit-keyframes example {
      to {background-color: white;}
    }
