body{
    font-size: 25px;
    }
   .animal{
    background: url('Deer-icon.png') no-repeat;
    border: 1px solid black;
    background-position: center;
    background-size: 90% 90%;
    }
   .tree{
    text-align: center;
    background: url('tree-icon.png') no-repeat;
    border: 1px solid black;
    background-position: center;
    background-size: 80% 80%;
    background-color: white;
   }
   .empty{
   border: 1px solid black;
   }
   .color{
    background-color: pink;
    border: 1px solid black;
    animation-name: example;
    animation-duration: 3s;
   }
   .treeColor{
    background: url('tree-icon.png') no-repeat;
    border: 1px solid black;
    background-position: center;
    background-size: 80% 80%;
    background-color: red;
    animation-name: example;
    animation-duration: 10s;
   }
   @-webkit-keyframes example {
      to {background-color: white;}
}